* {
  box-sizing: border-box;
}
.App{

  height: 100vh;          /* FIXED */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(91, 93, 93);

}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.title-icon {
  width: 40px;
  height: 40px;
}


.container{
 
  height: 80vh;           /* FIXED */
  width: 500px;
  min-height: auto;
  padding: 20px;
text-align: center;
  display: flex;
  flex-direction: column;
  padding: 30px;

  border: 1px solid rgb(168, 166, 166);
  color: white;
}
.todoform{
  width: 450px;
  gap: 10px;
  display: flex;
  justify-content: space-around;
}
input{
width: 80%;
padding: 10px;
border-radius: 20px;
border: none;
}

.alltodos {
  
  list-style: none;
  padding: 0;
  margin-top: 20px;

  flex: 1;                /* takes remaining space */
  overflow-y: auto;       /* scroll here */
    max-height: 60vh;

}

.singletodo {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  width: 100%;
  padding: 12px 15px;
  margin: 10px 0;

  border-radius: 8px;
  color: black;

  /* REMOVE wrap */
  flex-wrap: nowrap;
   flex-shrink: 0;         /* IMPORTANT */

}

.todotext {
   font-size: 16px;
  flex: 1;
  text-align: left;
  font-weight: 500;
  word-break: break-word;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
button {
   padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(247, 243, 243);
}
.actions {
  display: flex;
  gap: 8px;
}

.actions button {
  cursor: pointer;
  padding: 6px 10px;
  font-size: 14px;
}
.alltodos::-webkit-scrollbar {
  width: 6px;
}
.alltodos::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

@media (max-width: 600px) {
  .todoform {
    flex-direction: column;
  }

  input, button {
    width: 100%;
  }
}


